$primary-color-dark: #183585;
$primary-color-light: #0169AB;
$gradient: linear-gradient(to right bottom, $primary-color-dark, $primary-color-light);
$secondary-color: #EF8354;

$dark-color-1: #333;
$dark-color-2: #666;


$light-color-1: #fff;
$light-color-2: #f7f7f7;
$light-color-3: #f4f4f4;


$grey-color-0: #0d2636;
$grey-color-1: #4F5D75;
$grey-color-2: #5F6C82;
$grey-color-3: #6E798D;

$grey-color: #c9ced3;

