.banner{
  position: relative;
  background: url('/dist/images/banner.jpg')no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
  height: 55rem;
  &::before{
    content: "";
    position: absolute;
    height: inherit;
    width: 100%;
    background: linear-gradient( to right bottom, rgba($primary-color-dark, .4), rgba($primary-color-light, .4));
    z-index: 1;
  }
  &__content{
    position: relative;
    color: set-text-color($dark-color-1);
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
  &__header{
    margin-bottom: 2rem;
  }
  &__text{
    width: 60%;
    margin-bottom: 3rem;
  }
}