.btn{
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #fff;
  color: set-text-color($dark-color-1);
  padding: 1rem 2rem;
  border: none;
  outline: none;
  transition: all .3s ease-in;

  &.btn-primary{
    border:  2px solid $primary-color-light;
    background: $primary-color-light;
    &:hover{
      background: transparent;
      border:  2px solid $primary-color-light;
    }
  }
  &.btn-cta{
    border: 2px solid $primary-color-light;
    background-color: transparent;
    color: $dark-color-2;
    &:hover {
      background-color: $primary-color-light;
      color: $light-color-1;
    }
  }
  &.btn-submit{
    border:  2px solid $primary-color-light;
    background: $primary-color-light;
    @include respond(phone){
      width: 100%;
    }
    &:hover{
      background: transparent;
      border:  2px solid $primary-color-light;
      color: $dark-color-1;
    }
  }
}