.testimonial{
  max-width: 100rem;
  width: 90%;
  margin: 0 auto;
  height: 45rem;
}
.carsoule{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .center__title{
    margin-top: 6rem;
    h3{
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
    }
  }
  &__control{
    .arrow{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .arrow.left{
      left: 0;
    }
    .arrow.right{
      right: 0;
    }
  }
  &__track{
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    .indicator{
      width: 1.3rem;
      height: 1.3rem;
      background-color: #333;
      border: 2px solid #333;
      border-radius: 100%;
      &:not(:last-child){
        margin-right: .8rem;
      }
    }
    .indicator.active{
      background-color: transparent;
    }
  }
  &__container{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
  }
  &__slider{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__content{
    padding: 2rem 4rem;
    margin-top: 4rem;
    &-text{
      font-size: 2rem;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      margin-bottom: 4rem;
    }
    &-pic{
      display: flex;
      justify-content: center;
      div{
        align-self: center;
        h4{
          margin-bottom: .6rem;
        }
        p{
          letter-spacing: 1px;
        }
      }
      img{
        margin-right: 2rem;
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
      }
    }
  }
  
}