*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  //font size (1rem) = 10 /16 = 62.5%
  font-size: 62.5%;
  box-sizing: border-box;
  // @include respond(phone){
  //   font-size: 50%;
  // }

  @include respond(tab_land){//width < 1200px
    //font size = 9 /16
    font-size: 56.25%;
  }

  // @include respond(tab_port){//width < 900px
  //   //font size = 8 /16 
  //   font-size: 50%;
  // }

  @include respond(big__desktop){// width < 1800px
    //font size = 12 /16 = 10px
    font-size: 75%;
  }
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: $light-color-1;
  color: $dark-color-1;
  overflow-x: hidden;
}
img{
  width: 100%;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
}