.mb-xl{
  margin-bottom: 8rem;
}
.mb-l{
  margin-bottom: 5rem;
}
.mb-m{
  margin-bottom: 3rem;
}
.mb-s{
  margin-bottom: 2rem;
}
.mb-xs{
  margin-bottom: 1rem;
}

.mt-xl{
  margin-bottom: 8rem;
}
.mt-l{
  margin-bottom: 5rem;
}
.mt-m{
  margin-bottom: 3rem;
}
.mt-s{
  margin-bottom: 2rem;
}
.mt-xs{
  margin-bottom: 1rem;
}
.mtb{
  margin: 5rem 0;
}
.my{
  margin: 5rem 0;
}
.center__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    width: 60%;
  }
}