.header{
  position: fixed;
  width: 100%;
  z-index: 20;
}
.main-nav{
  height: 6rem;
  display: flex;
  align-items: center;
  &__logo{
    a{
      color: $light-color-1;
      font-size: 3rem;
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  &__lists{
    display: flex;
    flex-grow: 1;
    li:nth-of-type(1),
    li:nth-of-type(6){
      margin-left: auto;
    }
   }
  &__items{
    margin-right: 2rem;
    &:last-child a{
      color: $light-color-1;
    }
  }
  &__links{
    &:link,
    &:visited{
      color: $light-color-1;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      padding: .3rem;
      outline: none;
      transition: al .4s ease-out;
    }
    &:hover,
    &:active,
    &:focus{
      color: $light-color-3;
      border-bottom: 2px solid $light-color-3;
    }
    a:last-child{
      color: #fff;
    }
  }
  &__cta{
    margin-left: auto;
  }
}